/************************************************************************************
smaller than 2560
*************************************************************************************/
@media screen and (max-width: 2560px) {
.flip_ehover6 a i {
    font-size: 35px;
    padding:36px;
}
.flip_setting_box .flip_pro_overlay_small a {
	margin: 0 90px 0 0;	
}
.flip_setting_box .flip_pro_overlay_small a i{
	padding: 0 5px 0 0;
}
}

/************************************************************************************
smaller than 2544
*************************************************************************************/
@media screen and (max-width: 2544px) {
.flip_ehover6 a i {
    font-size: 34px;
}
}

/************************************************************************************
smaller than 2498
*************************************************************************************/
@media screen and (max-width: 2498px) {
.flip_ehover6 a i {
    font-size: 33px;
}
}

/************************************************************************************
smaller than 2451
*************************************************************************************/
@media screen and (max-width: 2451px) {
.flip_ehover6 a i {
    font-size: 32px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 77px 0 0;
}
}

/************************************************************************************
smaller than 2404
*************************************************************************************/
@media screen and (max-width: 2404px) {
.flip_ehover6 a i {
    font-size: 31px;
}
}

/************************************************************************************
smaller than 2357
*************************************************************************************/
@media screen and (max-width: 2357px) {
.flip_ehover6 a i {
    font-size: 30px;
}
}

/************************************************************************************
smaller than 2310
*************************************************************************************/
@media screen and (max-width: 2310px) {
.flip_ehover6 a i {
    font-size: 29px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 71px 0 0;
}
}

/************************************************************************************
smaller than 2263
*************************************************************************************/
@media screen and (max-width: 2263px) {
.flip_ehover6 a i {
    font-size: 28px;
}
}

/************************************************************************************
smaller than 2216
*************************************************************************************/
@media screen and (max-width: 2216px) {
.flip_ehover6 a i {
    font-size: 27px;
}
}

/************************************************************************************
smaller than 2170
*************************************************************************************/
@media screen and (max-width: 2170px) {
.flip_ehover6 a i {
    font-size: 26px;
}
}

/************************************************************************************
smaller than 2123
*************************************************************************************/
@media screen and (max-width: 2123px) {
.flip_ehover6 a i {
    font-size: 25px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 57px 0 0;
}
}

/************************************************************************************
smaller than 2076
*************************************************************************************/
@media screen and (max-width: 2076px) {
.flip_ehover6 a i {
    font-size: 24px;
}
}

/************************************************************************************
smaller than 2029
*************************************************************************************/
@media screen and (max-width: 2029px) {
.flip_ehover6 a i {
    font-size: 23px;
}
}

/************************************************************************************
smaller than 1982
*************************************************************************************/
@media screen and (max-width: 1982px) {
.flip_ehover6 a i {
    font-size: 22px;
}
}

/************************************************************************************
smaller than 1935
*************************************************************************************/
@media screen and (max-width: 1935px) {
.flip_ehover6 a i {
    font-size: 21px;
}
}

/************************************************************************************
smaller than 1920
*************************************************************************************/
@media screen and (max-width: 1920px) {
.flip_ehover6 a i {
    font-size: 25px;
	padding:33px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 42px 0 0;
}
}

/************************************************************************************
smaller than 1916
*************************************************************************************/
@media screen and (max-width: 1916px) {
.flip_ehover6 a i {
    font-size: 24px;
}
}

/************************************************************************************
smaller than 1869
*************************************************************************************/
@media screen and (max-width: 1869px) {
.flip_ehover6 a i {
    font-size: 22px;
}
}

/************************************************************************************
smaller than 1839
*************************************************************************************/
@media screen and (max-width: 1839px) {
.flip_ehover6 a i {
    font-size: 20px;
	padding:30px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 29px 0 0;
}
}

/************************************************************************************
smaller than 1746
*************************************************************************************/
@media screen and (max-width: 1746px) {
.flip_ehover6 a i {
    font-size: 22px;
	padding: 27px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 25px 0 0;
}
}

/************************************************************************************
smaller than 1712
*************************************************************************************/
@media screen and (max-width: 1712px) {
.flip_ehover6 a i {
    font-size: 20px;
}
}

/************************************************************************************
smaller than 1682
*************************************************************************************/
@media screen and (max-width: 1682px) {
.flip_ehover6 a i {
    font-size: 19px;
}
}

/************************************************************************************
smaller than 1682
*************************************************************************************/
@media screen and (max-width: 1682px) {
.flip_ehover6 a i {
    font-size: 19px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 21px 0 0;
}
}

/************************************************************************************
smaller than 1635
*************************************************************************************/
@media screen and (max-width: 1635px) {
.flip_ehover6 a i {
    font-size: 18px;
}
}


/************************************************************************************
smaller than 1588
*************************************************************************************/
@media screen and (max-width: 1588px) {
.flip_ehover6 a i {
    font-size: 17px;
	    padding: 20px;
}
.flip_group1 {
    top: 42%;
}
.flip_group2 {
    top: 58%;
}
}

/************************************************************************************
smaller than 1440
*************************************************************************************/
@media screen and (max-width: 1440px) {
.flip_ehover6 a i {
    font-size: 20px;
	padding: 16px;
}
.flip_group1 {
    top: 41%;
}
.flip_group2 {
    top: 59%;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 5px 0 0;
    padding: 5px 10px 3px;
}
}

/************************************************************************************
smaller than 1366
*************************************************************************************/
@media screen and (max-width: 1366px) {
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 -3px 0 0;
}
}

/************************************************************************************
smaller than 1350
*************************************************************************************/
@media screen and (max-width: 1350px) {
.flip_ehover6 a i {
    font-size: 17px;
	padding: 12px;
}
}

/************************************************************************************
smaller than 1320
*************************************************************************************/
@media screen and (max-width: 1320px) {
.flip_ehover6 a i {
    font-size: 17px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 0px 0 0;
}
}

/************************************************************************************
smaller than 1280
*************************************************************************************/
@media screen and (max-width: 1280px) {
.flip_setting_box1 .flip_tool_opt ul li {
    width: 49.4%;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 27px 0 0;
	padding: 5px 8px 3px;
}
}

/************************************************************************************
smaller than 1253
*************************************************************************************/
@media screen and (max-width: 1253px) {
.flip_ehover6 a i {
    padding: 17px;
	padding: 12px;
}
}

/************************************************************************************
smaller than 1221
*************************************************************************************/
@media screen and (max-width: 1221px) {
.flip_ehover6 a i {
    padding: 14px;
	padding: 12px;
}
}

/************************************************************************************
smaller than 1157
*************************************************************************************/
@media screen and (max-width: 1157px) {
.flip_group1 {
    top: 40%;
}
.flip_group2 {
    top: 60%;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 13px 0 0;
}
}

/************************************************************************************
smaller than 1125
*************************************************************************************/
@media screen and (max-width: 1125px) {
.flip_ehover6 a i {
    padding: 0px;
	font-size: 13px;
}
.flip_ehover6 p a {
    width: 45%;
    display: inline-block;
}
}

/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {
.flip_listing ul li {
    width: 33.33%;
}
.flip_tabs ul li {
    width: 22%;
}
.flip_tabs ul li:nth-child(2) {
    width: 34%;
}
.dropzone.dz-clickable .dz-message span {
    font-size: 18px;
}
.flip_up_btn {
    width: auto;
    padding: 8px 20px;
    font-size: 20px;
    height: auto;
}
.flip_up_btn i {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}
.flip_choose_bg ul {
    display: inline-block;
    width: 100%;
}
.flip_choose_bg ul li {
    width: 25%;
	margin-bottom: 20px;
}
.flip_setting_box1 .flip_tool_opt ul li {
    width: 49%;
    vertical-align: top;
    min-height: 55px;
}
.flip_setting_box1 .flip_tool_opt ul li h6 {
    width: 60%;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 -6px 0 0;
}
}

/************************************************************************************
smaller than 960
*************************************************************************************/
@media screen and (max-width: 960px) {
.flip_funkyradio .flip_funkyradio-default label {
    min-width: 150px;
	padding: 0 15px 0 0;
}
.flip_choose_bg ul li {
    margin-bottom: 10px;
    padding: 0 5px;
}
.flip_tabs ul li a {
    font-size: 15px;
    padding: 10px;
}
.flip_create_flip_box {
    padding: 40px 10px;
}
}

/************************************************************************************
smaller than 823
*************************************************************************************/
@media screen and (max-width: 823px) {
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0px -14px 0 0;
}
}

/************************************************************************************
smaller than 812
*************************************************************************************/
@media screen and (max-width: 812px) {
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 -14px 0 0;
}
}

/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
.flip_tabs ul li a {
    font-size: 14px;
}
}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {
.flip_main_box, .flip_main_bg {
    padding: 20px;
}
.flip_choose_bg ul li {
    width: 33.33%;
}
.flip_setting_box1 .flip_tool_opt ul li h6 {
    font-size: 14px;
}
}

/************************************************************************************
smaller than 736
*************************************************************************************/
@media screen and (max-width: 736px) {

}

/************************************************************************************
smaller than 732
*************************************************************************************/
@media screen and (max-width: 732px) {
.flip_setting_box .flip_pro_overlay_small a {
    margin: -4px -14px 0 0;
}
}

/************************************************************************************
smaller than 731
*************************************************************************************/
@media screen and (max-width: 731px) {

}

/************************************************************************************
smaller than 667
*************************************************************************************/
@media screen and (max-width: 667px) {
.flip_listing ul li {
    width: 50%;
}
.flip_tabs ul li {
    width: 50% !important;
}
.flip_tabs ul li a {
    border-top: 1px solid #d7e9fa;
}
.flip_tabs ul li:nth-child(2) a {
    border-right: none;
}
.flip_tabs ul li.active:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3a95e8;
    z-index: 10;
}
.flip_image-upload-wrap {
    display: block;
    width: 100%;
}
.flip_or1 {
    display: block;
    width: 100%;
}
.flip_file-upload small {
    height: 2px;
    width: 80%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    margin: 40px 0;
}
.flip_upl_btn {
    display: block;
    width: 100%;
}
.flip_tool_align {
    width: 74%;
}
.flip_setting_box2 .flip_tool_align ul li {
    width: 49%;
}
.flip_setting_box1 .flip_tool_opt ul li {
    width: 100%;
    min-height: auto;
    margin: 0 0 4px 0;
}
.flip_file-upload form#DropZoneFiddle {
    display: block;
    width: 100%;
}
.flip_file-upload form#pdf_file_upload {
    display: block;
    width: 100%;
}

.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 33px 0 0;
}
}

/************************************************************************************
smaller than 640
*************************************************************************************/
@media screen and (max-width: 640px) {
.flip_setting_box1 .flip_tool_opt ul li h6 {
    width: 66%;
}
.flip_setting_box1 .flip_tool_opt ul li h6 {
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    width: 66%;
    text-align: left;
}
.flip_tool_color {
    float: none;
    width: 100%;
    padding: 0px 0 20px 0px;
}
.flip_tool_align {
    width: 100%;
    float: none;
    border-top: 1px solid #8bb8ef;
    border-left: none;
    padding: 20px 0 0 0;
}
.flip_setting_box3 .flip_tool_opt ul li {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
}
.flip_box h1:before, .flip_box h1:after {
    display: none;
}
.flip_choose_bg ul li {
    width: 50%;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 13px 0 0;
}
}

/************************************************************************************
smaller than 600
*************************************************************************************/
@media screen and (max-width: 600px) {
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 1px 0 0;
}
}

/************************************************************************************
smaller than 568
*************************************************************************************/
@media screen and (max-width: 568px) {
.flip_filter select {
    width: 185px;
}
.flip_box h1:before {
    width: 90px;
    left: -105px;
}
.flip_box h1:after {
    width: 90px;
    right: -105px;
}
#frm_sortby {
    width: 53%;
}
.flip_create_flip {
    width: 46%;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 0px 0 0;
}
}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
.flip_setting_opt {
    width: 49%;
}
.flip_box h1:before {
    width: 40px;
    left: -55px;
}
.flip_box h1:after {
    width: 40px;
    right: -55px;
}
.flip_filter {
    display: block;
    width: 100%;
    text-align: center;
}
.flip_create_flip {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0 0 0;
}
.flip_filter select {
    width: 90%;
}
.flip_listing ul li {
    width: 240px;
    display: table;
    margin: 0 auto;
    float: none;
    padding: 10px 0;
}
.flip_tabs ul li {
    width: 100% !important;
}
.flip_tabs ul li a {
    border-right: none;
}
.flip_file-upload small {
    width: 100%;
}
.flip_setting_box h1 {
    font-size: 19px;
    padding: 8px 14px;
    text-align: center;
    line-height: 24px;
}
#frm_sortby {
    width: 100%;
}
.flip_p_logo {
    display: block;
    width: 100%;
    text-align: center;
}
.flip_p_logo img {
    width: 190px;
}
.flip_setting_opt {
    display: none;
}
.flip_tool_color {
    padding: 0px 0 70px 0px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 -14px 0 0;
}
}

/************************************************************************************
smaller than 414
*************************************************************************************/
@media screen and (max-width: 414px) {
.flip_filter select {
    width: 87%;
}

.flip_pagination>li:first-child>a, .flip_pagination>li:first-child>span,
.flip_pagination>li:last-child>a, .flip_pagination>li:last-child>span {
    font-size: 25px;
    padding: 0 5px;
}
.flip_up_btn {
    width: 100%;
}
.flip_finish_box a i {
    display: block;
    margin-bottom: 7px;
    font-size: 23px;
}
.flip_create_flip_box {
    padding: 20px 10px 10px;
}
.flip_finish_box a {
    display: block;
}
.flip_setting_box1 .flip_tool_opt ul li h6 {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
}
.flip_setting_box2 .flip_tool_align ul li {
	display: block;
    width: 100%;
    margin: 0 0 20px 0;
}
.flip_tool_color {
    text-align: center;
}
.flip_tool_align {
    text-align: center;
}
#horizontalOptions, #verticalOptions {
    margin: 0 auto;
    display: table;
	text-align: left;
}
.flip_setting_box3 {
    text-align: center;
}
.flip_set_opac input[type=range] {
    display: table;
    width: auto;
    margin: 0 auto;
}
.flip_funkyradio .flip_funkyradio-default label {
    min-width: 200px;
}
.flip_choose_bg ul li {
    width: 100%;
}
.flip_box h1 {
    font-size: 27px;
}
.flip_finish_box a i {
    margin: 0 0 10px 0;
}
.flip_finish_box a {
    padding: 12px 14px 12px 0px;
}
.flip_finish_box p strong {
    font-size: 16px;
    font-weight: 600;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 0 -27px 79px;
	display:table;
}
.flip_tool_color .flip_pro_overlay_small {
    padding: 20px 0 0 0;
}
}

/************************************************************************************
smaller than 412
*************************************************************************************/
@media screen and (max-width: 412px) {

}

/************************************************************************************
smaller than 411
*************************************************************************************/
@media screen and (max-width: 411px) {

}

/************************************************************************************
smaller than 384
*************************************************************************************/
@media screen and (max-width: 384px) {

}

/************************************************************************************
smaller than 375
*************************************************************************************/
@media screen and (max-width: 375px) {
.flip_main_box, .flip_main_bg {
    padding: 10px;
}
.flip_wt_bg {
    padding: 5px 10px;
}
.flip_flip_box h1 {
    font-size: 27px;
}
.flip_filter select {
    width: 83%;
}

}

/************************************************************************************
smaller than 360
*************************************************************************************/
@media screen and (max-width: 360px) {
	
}

/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {
.flip_main_box, .flip_main_bg {
    padding: 5px;
}
.flip_setting_box .flip_pro_overlay_small a {
    margin: 0 0 -28px 63px;
	display:table;
}
}
